<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <!-- <h1 class="welcome-text">WELCOME</h1> -->
    <img src="assets/imgs/heal-logo.png" alt="Logo" style="width: 150px;">
  </div>

  <div class="button-container">
    <ion-button shape="round" fill="outline" color="primary" (click)="goToSignIn()">
      <ion-text color="light">Get Started</ion-text>
    </ion-button>
  </div>
</ion-content>